body,
html {
  font-family: roboto, sans-serif;
  margin: 0;
}

/*--------------header-----------*/
header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.fas.fa-arrow-left {
  width: 19%;
  font-size: larger;
  margin-top: 16px;
  margin-left: 18px;
  color: #353535;
  margin-right: 66px;
}

.header-logo {
  font-family: shrikhand;
  margin-top: 3px;
  margin-bottom: 3px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.heart {
  cursor: pointer;
  position: absolute;
  transform-origin: bottom;
  font-size: 25px;
  right: 24px;
  opacity: 1;
  margin-top: 35px;
}

.fa-heart::before {
  content: "\f004";
}

.heart-animation {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transform-origin: bottom;
  font-size: 27px;
  right: 23px;
  margin-top: 35px;
  display: flex;
  transition-duration: 0.3s;
}

.fa-gradient {
  background: -webkit-linear-gradient(#e671da, #b862db);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-animation:hover {
  transition-duration: 0.25s;
  opacity: 1;
}

.heart-animation:hover::after {
  content: "";
  opacity: 1;
}

a {
  color: inherit;
}

.menu_deroulant {
  background-color: #f6f6f6;
  border-radius: 45px 45px 0 0;
  margin-top: 175px;
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-bottom: 50px;
}

.menu_deroulant-entete {
  display: flex;
  flex:wrap;
}
.menu_deroulant-heart {
  color: #7e7e7e;
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
  padding-top: 35px;
  padding-left: 62px;
}

h2 {
  font-family: Shrikhand, "cursive";
  padding-left: 25px;
  padding-top: 10px;
}

p {
  margin-top: 5px;
  font-size: 13px;
}

.compo_description,
.compo {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h3 {
  margin-left: 25px;
  border-bottom: 3px solid #99e2d0;
  display: inline-block;
  margin-top: 30px;
  padding-bottom: 9px;
}

.menu_deroulant-card {
  background-color: #fff;
  border-radius: 11px;
  width: 80%;
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
  box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.2);
  margin-left: 22px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  overflow: hidden;
  cursor: pointer;
}

.menu_deroulant-card-compo {
  width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu_deroulant-card-price {
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  width: 5%;
  padding-bottom: 12px;
}

.menu_deroulant-card-validation {
  background-color: #99e2d0;
  margin: -17px -100px -8px 22px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  transition: margin-right 0.7s ease-in-out;
}

.menu_deroulant-card:hover .menu_deroulant-card-validation {
  margin-right: -20px;
}

.fa-check {
  display: flex;
  background-color: #f6f6f6;
  color: #99e2d0;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.fa-check.fas::before {
  padding-top: 6px;
  padding-left: 6px;
}

.menu_deroulant-card:hover .fa-check {
  transform: rotate(0);
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu_deroulant-command {
  margin-top: 50px;
  margin-bottom: 70px;
}

.command {
  margin-left: 116px;
  cursor: pointer;
  border: 0;
  color: white;
  border-radius: 30px;
  font-size: 1em;
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.2);
  width: 157px;
  height: 50px;
  background: linear-gradient(to bottom right, #e671da 45%, #b862db 100%);
}

.command:hover {
  filter: brightness(110%);
  box-shadow: 6px 6px 6px 2px rgba(0, 0, 0, 0.5);
}

span {
  font-weight: bold;
}

.footer_li1,
.footer_li2 {
  font-size: 1.1em;
  padding-bottom: 10px;
}

.footer_li1 {
  font-weight: bold;
}
.icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.footer {
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 3;
  position: relative;
  top: 1350px;
}

.footer_logo {
  padding-left: 20px;
  color: white;
  font-family: Shrikhand, "cursive";
  font-size: larger;
}

.footer_title {
  list-style: none;
  padding-left: 20px;
}

.footer_link {
  color: white;
  text-decoration:none;
}
