body,
html {
  font-family: roboto, sans-serif;
  margin: 0;
}

/*--------------header-----------*/
header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.return {
  width: 19%;
  font-size: larger;
  margin-top: 36px;
  margin-left: 18px;
}

.header-logo {
  font-family: shrikhand;
}

img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.menu_deroulant {
  background-color: #f6f6f6;
  border-radius: 45px 45px 0 0;
  margin-top: 175px;
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-bottom: 50px;
}

.menu_deroulant-entete {
  display: flex;
  flex-direction: row;
}
.menu_deroulant-heart {
  color: #7e7e7e;
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
  padding-top: 35px;
  padding-left: 112px;
}

h2 {
  font-family: Shrikhand, "cursive";
  padding-left: 25px;
  padding-top: 10px;
}

p {
  margin-top: 5px;
  font-size: 13px;
}

h3 {
  padding-left: 25px;
  border-bottom: 3px solid #99e2d0;
  display: inline-block;
  margin-top: 30px;
}

.menu_deroulant-card {
  background-color: #fff;
  border-radius: 16px;
  width: 80%;
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
  box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.2);
  margin-left: 22px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.menu_deroulant-card-compo {
    width: 95%;
}

.menu_deroulant-card-price {
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  width: 5%;
  padding-bottom: 12px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu_deroulant-command {
    margin-top: 50px;
    margin-bottom: 70px;
}

.command {
  margin-left: 107px;
  cursor: pointer;
  border: 0;
  color: white;
  border-radius: 30px;
  font-size: 1em;
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.2);
  width: 157px;
  height: 50px;
  background: linear-gradient(to bottom right, #e671da 45%, #b862db 100%);
}


span {
  font-weight: bold;
}

.footer_li1,
.footer_li2 {
  color: white;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.footer_li1 {
  font-weight: bold;
}
.icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.footer {
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 3;
  position: relative;
  top: 1350px;
}

.footer_logo {
  padding-left: 20px;
  color: white;
  font-family: Shrikhand, "cursive";
  font-size: larger;
}

.footer_title {
  list-style: none;
  padding-left: 20px;
}
