body, html{
    font-family: Roboto,sans-serif;
    margin: 0;
}

/*--------------header-----------*/
.header {
    padding: 10px;
    box-shadow: 0 0 10px grey;
}


.header-logo {
    font-family: shrikhand;
    text-align: center;
}

.navigation_map {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding: 20px;
}

.text-map {
    font-weight: bold;
    margin-left: 10px;
}

.navigation_search {
    text-align: center;
    padding: 20px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

p {
    font-size: thin;
}

.button {
    cursor: pointer; 
    border: 0;
    color: white;
    border-radius: 30px;
    font-size: 1.0em;
    box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.20);
    width: 250px;
    height: 50px;
    background: linear-gradient(to bottom right, #e671da 45%, #b862db 100%);
    
}

.filtres {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 30px
}


.filtres_title {
    margin-left: 10px;
}

.filtres_step {
   padding-left: 20px;
}

ol {
    counter-reset: filtres_step;
}

.filtres_icons {
    list-style-type: none;
    counter-increment: filtres_step;
    padding: 20px 20px 20px 0px;
    margin: 16px 12px 16px 0px;
    border-radius: 16px;
    background-color: #f6f6f6;
    box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.20);
}


.filtres_icons:before {
    content: counter(filtres_step);
	padding: 5px 5px 5px 11px;
	margin-right: 8px;
    background: #9356dc;
	border-radius: 60px;
	font-size: 0.8em;
	color: white;		
}

span {
    font-weight: bold;
}

.footer_li1, .footer_li2 {
    font-size: 1.1em;
    padding-bottom: 10px;
}

.footer_li1{
    font-weight: bold;
}
.icon {
    margin-right: 1rem;
    color: #7e7e7e
}

#restaurants {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 50px;
    background-color: #f6f6f6;
}

.cartes {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.carte {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 26px 58px -22px rgba(0, 0, 0, 0.48);
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

figure {
    margin: 0px;
}

img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height:200px;
}

.foot {
    display: flex;
    flex-wrap: wrap;
}

.foot_argument {
    margin-left: 15px;
    width: 70%;
}

.ville {
    margin-top: 5px;
}


.nouveau {
    position: absolute;
    padding: 10px;
    background-color:#99e2d0;
    right: 18px;
    margin-top: 10px;
}

.heart {
    font-size: 35px;
    padding-top: 13px;
    padding-left: 19px;
    color:#7e7e7e;
}


.footer {
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer_logo {
    padding-left: 20px;
    color: white;
    font-family: Shrikhand,"cursive";
    font-size: larger;
}

.footer_link {
    text-decoration: none;
    color: white;
}

.footer_title {
    list-style: none;
    padding-left: 20px;
}



