body, html{
    font-family: Roboto,sans-serif;
    margin: 0;
}

/*--------------header-----------*/
.header {
    padding: 10px;
    box-shadow: 0 0 10px  gray;
}


.header-logo {
    font-family: shrikhand;
    text-align: center;
}

.navigation_map {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding: 20px
}

.text-map {
    font-weight: bold;
    margin-left: 10px;
}

.navigation_search {
    text-align: center;
    padding: 20px;
    background-color: #fafafa;
}

p {
    font-size: thin;
}

.hero_btn {
    cursor: pointer;
    color: white;
    font-size: 1,1rem;
    background-color: pink;
    padding: 15px;
    font-weight: bold;
    border-radius: 30px;    
}

.filtres {
    padding-left: 10px;
    padding-top: 20px;
}




