.button,
.command {
  cursor: pointer;
  border: 0;
  color: white;
  border-radius: 30px;
  font-size: 1em;
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
  margin: 10px 58px;
  font-weight: bold;
  width: 58%;
  display: inline-table;
  transition-duration: 0.25s;
  background-image: linear-gradient(to bottom right, #e671da 32%, #b862db 100%);
}

.command {
  margin-left: 92px;
}

.button:hover,
.command:hover {
  box-shadow: 6px 6px 6px 2px rgba(0, 0, 0, 0.5);
  filter: brightness(110%);
}