.fas.fa-arrow-left {
    width: 19%;
    font-size: larger;
    margin-top: 16px;
    margin-left: 18px;
    color: #353535;
    margin-right: 66px;
    position: absolute;
  }
  
  .header--block {
    object-fit: cover;
    width: 100%;
    height: 252px;
    position: absolute;
    z-index: 1;
  }

  .menu_deroulant {
    background-color: #f6f6f6;
    border-radius: 45px 45px 0 0;
    margin-top: 207px;
    position: absolute;
    z-index: 3;
    width: 100%;
  }
  
  .menu_deroulant-entete {
    display: flex;
    margin-top: 24px;
  }
  
  .menu_deroulant-title {
    font-family: Shrikhand, "cursive";
    margin: 6px 27px 5px 22px;
  }
  
  .menu_deroulant-heart {
    color: #7e7e7e;
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    padding-top: 35px;
    padding-left: 62px;
  }
  
  .menu_deroulant-card {
    background-color: #fff;
    border-radius: 11px;
    width: 80%;
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.2);
    margin-left: 22px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .compo_description,
  .compo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
  }
  
  .menu_deroulant-card-compo {
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .menu_deroulant-card-price {
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
    width: 5%;
    padding-bottom: 12px;
  }
  
  .menu_deroulant-card-validation {
    background-color: #99e2d0;
    margin: -17px -110px -8px 22px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    transition: margin-right 0.2s ease-in-out;
  }
  
  .menu_deroulant-card:hover .menu_deroulant-card-validation {
    margin-right: -20px;
  }
  
  .fa-check {
    display: flex;
    background-color: #f6f6f6;
    color: #99e2d0;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(-180deg);
    transition-duration: 0.5s;
  }
  
  .fa-check.fas::before {
    padding-top: 6px;
    padding-left: 6px;
  }
  
  .menu_deroulant-card:hover .fa-check {
    transform: rotate(0);
  }
  
  .menu_deroulant-command {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  
  h3 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  h4 {
    margin-left: 25px;
    border-bottom: 3px solid #99e2d0;
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 9px;
    font-weight: 400;
    font-size: 16px;
  }

  h5 {
    padding-left: 25px;
    padding-top: 10px;
  }
  

