.footer {
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    z-index: 3;
    top: 1560px;
  }
  
  .footer_logo {
    padding-left: 20px;
    color: white;
    font-family: Shrikhand, "cursive";
    font-size: larger;
  }
  
  .footer_link {
    text-decoration: none;
    color: white;
  }
  
  .footer_title {
    list-style: none;
    padding-left: 20px;
  }
  
  .footer_li1,
  .footer_li2 {
    font-size: 1.1em;
    padding-bottom: 10px;
  }
  
  .footer_li1 {
    font-weight: bold;
  }
  